<h1 >Random Dog Image</h1>
<img class="img-fluid" id="dogImage" src="" alt="Dog image will appear here" />
<button class="btn btn-primary" onclick="loadRandomDog()">Load Random Dog</button>

<script>
    function loadRandomDog() {
        fetch('/random-dog')
            .then(response => response.json())
            .then(data => {
                document.getElementById('dogImage').src = data.message;
            })
            .catch(error => console.error('Error:', error));
    }
</script>